html {

    font-size: 1em;
    line-height: 1.4;

}
h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    vertical-align: center;
    position: relative;
    padding-top: 1em;
    color: white;
    margin: auto;
}
.row a:link{
    text-decoration: none;
    color: white;
}
a:link{
    text-decoration: none;
}
.rows a:hover{
    background: #F2F8FD;
}
.rows a{
    color: black;
}
.rows{
    display:flex;
    font-family: 'Open Sans', sans-serif;
    size: 24px;
}
.rows a{
    padding: 1vw 3vw;
}
.row_cell{
    flex: 1;
    padding: 1em 2em;
}
.row_cell__3{
    flex:3;
    text-align: center;
}

.main_block{
    background-image: url("https://cdn.pixabay.com/photo/2019/10/02/03/49/christmas-gift-pattern-4519900_960_720.jpg");
    margin-bottom: 2em;
}
.string{
 display: flex;
    margin-left: 3em;
    margin-right: 3em;

}
.block{
    flex: 1;
    margin-top: 5em;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
    background: white;
    font-family: 'Roboto', sans-serif;
}


.under_link{
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}

.product_block{
    display: flex;
}
.discription{
    flex: 1;
    padding-right: 3em;
}
.discription h1{
    color:black ;
}
.product_image{
    flex: 2;
    padding-left: 5em;

}
.product_image img{
   max-height: 400px;
    width: auto;

}
.gift_choose{
    margin-bottom: 20px;
}
.gift_choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
}

.product-price {
    display: flex;
    align-items: center;
    color: #999999;
    margin: 1em;
}

.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

.cart-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}
.cart-btn:hover {
    background-color: #64af3d;
}
.price_text{
    padding-right: 1em;
}