{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
<div class = "testContent">
    <div class="header">
        <div class="container">
            <div class="logo"><div>logo</div></div>
            <div class="header__menu">
                <div class="menu-item">Популярное</div>
                <div class="menu-item">Категории</div>
                <div class="menu-item">Контакты</div>
                <div class="menu-item">Вход | Регистрация</div>
            </div>
        </div>
    </div>
    <div class="products">
        <div class="container">
            <div class="list-of-products">
                {% for item in products %}

                <a href="{{item.get_absolute_url}}" class = "products__item_link">
                    <div class="products__item">
                        <div class="products__title">{{ item.title }}</div>
                        <div class="products__description">{{ item.description }}</div>
                        <div class="products__photo"><img src="{{ item.photo.url }}"></div>
                        <div class="products__price">{{ item.price }}</div>
                        <div class="products__category">{{ item.category }}</div>
                        <div class="products__info"></div>
                    </div>
                </a>

                {% endfor %}
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
</div>
{% endblock %}