{% extends 'base.html' %}
{% load static %}
{% block title %}
Подарки {{category.title | lower }}
{% endblock %}

{% block content %}
<div class = "circle"><img class="item_image" src="{{ category.photo.url }}"></div>
<div class = "circle_light"></div>
<div class="intro_text">
    <h2>{{category.title}}</h2>
</div>
{% endblock %}

{% block main %}
<h2 class="category_text">Наше предложение</h2>
<div class="items">
    {% for item in products %}
    <a href="{{item.get_absolute_url}}">
        <div class="item">
            <div class="item__image"><img src="{{ item.photo.url }}"> </div>
            <div class="item__info">
                <div class="title">
                    {{ item.title }}
                </div>
                <div class="price">
                    <a class="link-detail">
                        <div>{{ item.price}}</div>
                        <input class="cart cart-add" data-id="{{ item.pk }}" type="image" src="{% static 'img/Cart_logo.gif' %}" alt="Кнопка «Cart»">
                    </a>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}