{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{title}}
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class = "bottom_menu">
        <div class="logo">Logo</div>
        <div class="menu_links">
            <div class="link">Контакты</div>
            <div class="link">О нас</div>
            <div class="link">Личный кабинет</div>
        </div>
    </div>
    <div class = "circle"><img src="{{category.photo.url}}"></div>
    <div class = "circle_light"></div>
    <div class="intro_text">
        <h2>{{category.title}}</h2>
    </div>
    </div>
<div class="items">
        {% for item in products %}
    <a href="{{item.url}}">
        <div class="item">
            <div class="item__image"><img src="{{ item.photo.url }}"> </div>
            <div class="item__info">
                <div class="title">
                {{ item.title }}
                </div>
                <div class="price">
               <a class="link-detail">
                   <input class="cart" type="image" src="{% static 'img/Cart_logo.png' %}" alt="Кнопка «Cart»">
                    <div>{{ item.price}}</div>
               </a>
                </div>
        </div>
    </div>
    </a>

        {% endfor %}
</div>

<div class="wrapper">
    <div class="footer">

        <div class="footer_circle">
            <hr>
            <div class="contact">
                <p class="footer_link">+7-(999)-999-99-99<br>poof@info.com</p>
                <a href="#" class="footer_link">Instagram</a>
                <a href="#" class="footer_link">Telegram</a>
                <a href="#" class="footer_link">Vkontakte</a>
            </div>
        </div>


    </div>
</div>
{% endblock %}