{% extends 'base.html' %}
{% load static %}

{% block title %}
Detail
{% endblock %}

{% block content %}

<div class="header">
    <div class="container">
        <div class="logo"><div>logo</div></div>
        <div class="header__menu">
            <div class="menu-item">Популярное</div>
            <div class="menu-item">Категории</div>
            <div class="menu-item">Контакты</div>
            <div class="menu-item">Вход | Регистрация</div>
        </div>
    </div>
</div>

<div class = "item_block">
    <img class="item_image" src="{{ product.photo.url }}" alt="" width="300">
    <div class="item_info">
        <h1>{{ product.title }}</h1>
    <p>{{ product.description }}</p>
        <div class = "product_price">
    <p>Price: {{ product.price }}
            <a class="cart-btn" href="#">Add to cart</a>
    </p>
        </div>
    <p>{{ product.category }}</p>
    </div>
</div>

{% endblock %}