{% extends 'base.html' %}
{% load static %}

{% block title %}
GIFT PROJECT
{% endblock %}

{% block content %}

<div class="wrapper">
   <div class = "bottom_menu">
        <div class="logo"><img src="{% static 'img/Logo.png' %}"></div>
        <div class="menu_links">
            <a href="#" class="link">Контакты</a>
            <a href="#" class="link">О нас</a>
            {% if request.user.is_authenticated %}  
            <a href="#" class="link">Личный кабинет</a>
            <a href="{% url 'logout' %}" class="link">Выход</a>
            {% else %}
            <a href="{% url 'login' %}" class="link">Войти</a>
            {% endif %}
        </div>
   </div>
<div class = "circle"><div class = "circle_img"></div></div>
<div class = "circle_light"></div>
<div class="intro_text">
    <h2>ДАРИТЕ ВПЕЧАТЛЕНИЯ
        СВОИМ РОДНЫМ И БЛИЗКИМ!</h2>
    <p>Мы собрали для вас самые лучшие варианты подарков, которые точно удивят получателей</p>
</div>
    <div class="header_line">
        {% for item in categories %}
        <div class="head_link"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></div>
        {% endfor %}
    </div>
</div>
    <div class="popular">

    </div>
    <div class="review">

    </div>

<div class="wrapper_footer">
<div class="footer">

    <div class="footer_circle">
        <hr>
        <div class="contact">
            <p class="footer_link">+7-(999)-999-99-99<br>poof@info.com</p>
            <a href="#" class="footer_link">Instagram</a>
            <a href="#" class="footer_link">Telegram</a>
            <a href="#" class="footer_link">Vkontakte</a>
        </div>
    </div>


</div>
</div>

{% endblock %}
