{% extends 'base.html' %}
{% load static %}

{% block title %}
GIFT PROJECT
{% endblock %}

{% block content %}
<div class="wrapper">
   <div class = "bottom_menu">
        <div class="logo">Logo</div>
        <div class="menu_links">
            <div class="link">Контакты</div>
            <div class="link">О нас</div>
            <div class="link">Личный кабинет</div>
        </div>
   </div>
<div class = "circle"><div class = "circle_img"></div></div>
<div class = "circle_light"></div>
<div class="intro_text">
    <h2>ДАРИТЕ ВПЕЧАТЛЕНИЯ
        СВОИМ РОДНЫМ И БЛИЗКИМ!</h2>
    <p>Мы собрали для вас самые лучшие варианты подарков, которые точно удивят получателей</p>
</div>
    <div class="header_line">
        <a href="#" class="head_link">Женщине</a>
        <a href="#">Мужчине</a>
        <a href="#">Ребенку</a>
        <a href="#">Для двоих</a>
        <a href="#">Link</a>
    </div>
</div>
    <div class="popular">

    </div>
    <div class="review">

    </div>
<div class="wrapper">
<div class="footer">
    <hr>
    <div class="footer_circle"></div>
    <div class="contact">
        <p>+7-(999)-999-99-99<br>poof@info.com</p>
        <p>telegram</p>
        <p>vkontakte</p>
        <p>instagram</p>
    </div>
</div>
</div>

{% endblock %}
