{% extends 'base.html' %}
{% load static %}

{% block title %}
GIFT PROJECT
{% endblock %}

{% block content %}
<div class="wrapper">
   <div class = "bottom_menu">
        <div class="logo">Logo</div>
        <div class="menu_links">
            <div class="link">Контакты</div>
            <div class="link">О нас</div>
            <div class="link">Личный кабинет</div>
        </div>
   </div>
<div class = "circle"><div class = "circle_img"></div></div>
<div class = "circle_light"></div>
<div class="intro_text">
    <h2>ДАРИТЕ ВПЕЧАТЛЕНИЯ
        СВОИМ РОДНЫМ И БЛИЗКИМ!</h2>
    <p>Мы собрали для вас самые лучшие варианты подарков, которые точно удивят получателей</p>
</div>

</div>
{% endblock %}
