{% extends 'base.html' %}
{% load static %}

{% block title %}
Авторизация
{% endblock %}

{% block content %}
<div class="wrapper">
   <div class = "bottom_menu">
        <div class="logo">Logo</div>
        <div class="menu_links">
            <a href="#" class="link">Контакты</a>
            <a href="#" class="link">О нас</a>
        </div>
   </div>
<div class = "circle"></div>
<div class = "circle_light"></div>
<div class="text">
    <h2>Авторизация</h2>
     <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Авторизация</button>
    </form>
    <a href="{% url 'register' %}" class="link">Регистрация</a>
</div>
</div>
    <div class="popular">

    </div>
    <div class="review">

    </div>

<div class="wrapper_footer">
<div class="footer">

    <div class="footer_circle">
        <hr>
        <div class="contact">
            <p class="footer_link">+7-(999)-999-99-99<br>poof@info.com</p>
            <a href="#" class="footer_link">Instagram</a>
            <a href="#" class="footer_link">Telegram</a>
            <a href="#" class="footer_link">Vkontakte</a>
        </div>
    </div>


</div>
</div>

{% endblock %}