{% extends 'base.html' %}
{% load static %}

{% block title %}
Авторизация
{% endblock %}

{% block content %}
<div class = "circle"></div>
<div class = "circle_light"></div>
{% endblock %}

{% block main %}
<div class="text login">
    <h2 class="login-title">Авторизация</h2>
    <form method="post">
        {% csrf_token %}
        <div class = "form">{{ form.as_p }}</div>
        <div class="buttons">
            <button type="submit" class="btn-login">Авторизация</button>
        </div>
    </form>
    <a href="{% url 'register' %}" class="btn-reg">Еще не зарегистрованы?</a>
</div>
{% endblock %}
