{% extends 'base.html' %}
{% load static %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
<div class="wrapper">
   <div class = "bottom_menu">
        <div class="logo">Logo</div>
       <div class = "bottom_menu">
           <div class="logo"><img class="category_image" src="{% static 'img/Logo.gif' %}"></div>
           <div class="menu_links">
               <a href="/" class="link">Главная</a>
               {% if request.user.is_authenticated %}
               <a href="#" class="link">Личный кабинет</a>
               <a href="{% url 'logout' %}" class="link">Выход</a>
               {% else %}
               <a href="{% url 'login' %}" class="link">Войти</a>
               {% endif %}
           </div>
       </div>
   </div>
<div class = "circle"></div>
<div class = "circle_light"></div>
<div class="text login">
    <h2>Регистрация</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-login">Регистрация</button>
    </form>

</div>
</div>
    <div class="popular">

    </div>
    <div class="review">

    </div>

<div class="wrapper_footer">
<div class="footer">




</div>
</div>

{% endblock %}
