.row a:link{
    text-decoration: none;

    color: white;
}
a:link{
    text-decoration: none;
}
.rows a:hover{
    background: #F2F8FD;
}
.rows a{
    color: black;
}
.rows{
    display:flex;
    font-family: 'Open Sans', sans-serif;
    size: 24px;
}
.rows a{
    padding: 3vw;
}
.row_cell{
    flex: 1;
    padding: 10px 14px;
}
.row_cell__3{
    flex:3;
    text-align: center;
}
.up_string{
    display: flex;
}
.down_string{
    display: flex;
}