.bottom_menu{
    display: flex;
    padding-top: 3.5em;
}
.logo{
    flex:1;
    text-align: left;
    margin-left: 5em;
}
.menu_links{
    display: flex;
    flex: 1;
    padding-right: 0.5em;
}
.link{
    flex:1;
    padding-left: 0.5em;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    color: var(--brown);
    text-align: center;
    padding: 0.5vw;
    border-radius: 50px;
}
.link:hover{
background:var(--yellow_light);
}
.circle{
    width: 80vw;
    height:80vw;
    background: var(--yellow);
    border-radius: 50%;
    position: absolute;
    transform: translate(30vw,-30vw);
    z-index: -2;
}
.circle_light{
    width: 143vw;
    height: 126vw;
    background: var(--yellow_light);
    border-radius: 80%;
    position: absolute;
    transform: translate(-30vw,-60vw);
    z-index: -3;
}
.circle_img{
    width: 55%;
    height: 55%;
    background-image :url("../img/MainPageImg.jpg") ;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    transform: translate(15vw, 32vw);
    background-size: cover;
    border-radius: 50%;

}

.wrapper{
 position: relative;
 width: 100%;
 height: 73vw;
 overflow: hidden;
}
.wrapper_footer{
    position: relative;
    width: 100%;
    height: 50vw;
    overflow: hidden;
}
.intro_text{
    text-wrap: normal;
    width: 40vw;
    height: 15em;
    color: var(--white);
    font-family: 'Balsamiq Sans', cursive;
    margin-left: 7vw;
    margin-top: 15vw;

}
.intro_text p{
    font-size: 2vw;
}

.intro_text h2{
    font-size: 3vw;
}

.header_line{
    display: flex;
    background: var(--brown);
    height: 5vw;
    width: 45vw;
    border-radius: 30px;
    position: absolute;
    transform: translate(40vw,20vw);
    justify-content: space-between;
    padding-left: 1vw;
}
.header_line a{

    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.5vw;
    padding: 10%;
    border: 3px;
}
.head_link{
    flex:1;
    margin-top: 1.5vw;
}
.head_link a:hover{
    background: var(--brown_light);

}

.footer_circle{
    background: var(--yellow_light);
    width: 105vw;
    height:100vw;
    border-radius: 45%;
    position: absolute;
    transform: translate(-3vw,40vw);
    margin-top: 300px;
}
hr {
 position: absolute;
     width: 65vw;
     height: 3px;
    border: none;
    background-color: var(--brown);
    border-radius: 20px;
    transform: translate(19vw,12vw);
    z-index: 1;
}
.contact{
    display: flex;
    position: absolute;
    transform: translate(19vw,14vw);
    width: 65vw;
    align-items: center;
}
.footer_link{
    flex: 1;
    text-decoration: none;
    color: var(--brown);
    border: none;
}

.footer_link a:hover {
    background: var(--yellow);
}