.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.box__item {
    min-height: 50vh;
    min-width: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.box__item:first-child {
    background-image: url(../img/Man.jpg);
}

.box__item:nth-child(2) {
    background-image: url(../img/Woman.jpg);
}

.box__item:nth-child(3) {
    background-image: url(../img/Kid.jpg);
}

.box__item:last-child {
    background-image: url(../img/family.jpg);
}

.box__item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 270px;
    color: white;
    font-size: 46px;
    font-weight: bold;
    transition: all 0.8s;
    background-color: rgba(0, 0, 0, 0.5);
}

.box__item a:hover {
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.0);
}

.item_block{
    display: flex;
    margin-left: 3em;
    margin-right: 3em;
}
.item_image{
    flex: 1;
}

.item_info{
    flex: 1;
}

@media (max-width: 850px) {
    .box {
        flex-wrap: nowrap;
    }
}
