.bottom_menu{
    display: flex;
    padding-top: 3.5em;
}
.logo{
    flex:1;
    text-align: left;
    margin-left: 5em;
    background: none;
    border: none;
}

.logo img{
    width: 10vw;
    height: auto;
    background: var(--yellow_light);
}
.menu_links{
    display: flex;
    flex: 1;
    padding-right: 0.5em;
    align-items: center;
}
.link{
    flex:1;
    padding-left: 0.5em;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: var(--brown);
    text-align: center;
    padding: 0.5vw;
    border-radius: 50px;
    vertical-align: center;


}

.link:hover{
background:var(--yellow_light);
}
.circle{
    width: 80vw;
    height:80vw;
    background: var(--yellow);
    border-radius: 50%;
    position: absolute;
    transform: translate(30vw,-30vw);
    z-index: -2;
}
.circle_light{
    width: 143vw;
    height: 126vw;
    background: var(--yellow_light);
    border-radius: 80%;
    position: absolute;
    transform: translate(-30vw,-60vw);
    z-index: -3;
}
.circle_img{
    width: 55%;
    height: 55%;
    background-image :url("../img/MainPageImg.jpg") ;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    transform: translate(15vw, 32vw);
    background-size: cover;
    border-radius: 50%;

}
.About{
    width: 70%;
    display: flex;
    flex-direction: column;
    color: var(--brown);
    justify-content: center;
    margin-left: 14vw;
}
.About h2{
    font-size: 3vw;
}
.About p{
    font-size: 2vw;
}

.popular{
    display: flex;
    width: 70%;
    flex-direction: column;
    color: var(--brown);
    margin-left: 14vw;
}
.popular h2{
    font-size: 3vw;
}
.wrapper{
 position: relative;
 width: 100%;
 height: 80vw;
 overflow: hidden;
}

.intro_text{
    text-wrap: normal;
    width: 40vw;
    height: 15em;
    color: var(--white);
    font-family: 'Balsamiq Sans', cursive;
    margin-left: 7vw;
    margin-top: 15vw;

}
.intro_text p{
    font-size: 2vw;
}

.intro_text h2{
    font-size: 3vw;
}

.header_line {
    display: flex;
    background: var(--brown);
    height: 5%;
    width: 40%;
    border-radius: 30px;
    position: absolute;
    transform: translate(40vw, 20vw);
    padding-left: 1vw;
    justify-content: space-evenly;
    align-items: center;

}
.header_link{
    text-decoration: none;
    color: var(--white);
    font-size: 1.5vw;
}
.header_link:hover{
    background: var(--brown_light);
    padding-top: 1vw;
    padding-bottom: 1vw;

}


.wrapper_footer{
    margin-top: 4vw;
    position: relative;
    width: 100%;
    height: 25vw;
    overflow: hidden;
}
.footer_circle{
    background: var(--yellow_light);
    width: 105vw;
    height:100vw;
    border-radius: 45%;
    position: absolute;
    display: flex;
    transform: translate(-3vw,0);
}
hr {
 position: absolute;
     width: 65vw;
     height: 3px;
    border: none;
    background-color: var(--brown);
    border-radius: 20px;
    transform: translate(19vw,12vw);
    z-index: 1;
}
.contact{
    display: flex;
    position: absolute;
    transform: translate(19vw,14vw);
    width: 65vw;
    align-items: center;
}
.footer_link{
    flex: 1;
    text-decoration: none;
    color: var(--brown);
    border: none;
    text-align: center;
    border-radius: 50px;
    padding: 1vw;
}

.category_text{
    color: var(--brown);
    text-align: center;
}
.footer_link:hover{
    background: var(--yellow );
}
.reg{
    margin-top: 3vw;
}
.footer_link a:hover {
    background: var(--yellow);
}

@media (max-width: 380px) {
    .menu_links{
        flex:3;
    }
}

@media(max-width: 850px){
    .wrapper{
        height: 100vw;
    }
    .head_link{
        margin-bottom: 3%;
    }
    .popular h2{
        font-size: 7vw;
    }
    .About h2{
        font-size: 7vw;
    }

    .About p{
        font-size: 5vw;
    }
    .contact{
        flex-direction: column;

    }
    .wrapper_footer{
        height: 60vw;
    }

    .intro_text p{
        font-size: 3vw;
    }

    .intro_text h2{
        font-size: 4vw;
    }

    .header_line{
        width: 60%;
        height: 10%;
        transform: translate(30vw, 10vw);
    }
    .header_link{

        font-size: 50%;
    }
}
* {
    border: 2px solid red;
}
.form-control {
    width: 100%;
}

.login {
    width: 400px;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px 1px var(--light);
    padding: 20px;
    margin: 20vh auto;
}

.login-title {
    width: 100%;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn-login {
    margin: 0 auto;

}

.btn-reg {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}