* {
    box-sizing: border-box;
}

:root {
    --yellow: #FAED26 ;
    --dark: #0D0D0D;
    --gray: #5a5560;
    --light: #9D8D8F;
    --brown: #9B786F;
    --white: #ffffff;
}

html {
    font-family: "Roboto", serif;
}

p{
    font-family: "Roboto Light", Serif;
}

a {
    text-decoration: none;
}