.circle_img{
    width: 55%;
    height: 55%;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    transform: translate(20vw, 34vw);
    background-size: cover;
    border-radius: 50%;
}

.list-of-products{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    width: 100%;
    padding-top: 50px;
}
.products__item{
    display: flex;
    flex-direction: column;

    align-items: center;
    min-width: 10vw;
    height: 30vw;
    padding: 1.5vw;

    color: var(--brown);

}
.container{

}
.products__photo img{
    height: 15vw;
    width: 18vw;
    background-size: cover;
}



.products__title {
    color: var(--dark);
    font-weight: bold;
    font-size: 2.4vw;
    font-family: "Balsamiq Sans",bold;
}

.item_image{
    width: 55%;
    height: 55%;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    transform: translate(20vw, 34vw);
    background-size: cover;
    border-radius: 50%;
}
.products__item_link:hover{
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    border-radius: 50px;
    transition:box-shadow 0.5s;
}
